html, body {
	height: 100%;
	width: 100%;
}

/* =============================================================== */
/* Colors */

:root {
	--text-color: #333;
	
	--main-color: #CC5551;
	--highlight-color: #913E3A;
	
	--border-color: #CCC;
	--border-color2: #CCC;
	--border-highlight-color: black;
}

/* =============================================================== */
/* Fonts */

.title {
	font-size: 70px;
}

.subtitle {
	font-size: 28px;
	font-style: italic;
}

.sectiontitle {
	font-size: 50px;
}

.navbar a {
	font-size: 20px;
}

.input-submit {
	font-size: 16px;
}

/* =============================================================== */
/* Header */

#nav .navbar {
	height: 60px;
	margin: 0;
	border: 0;
	background: white;
}

#nav .container-fluid, #nav .nav {
	height: 50px;
	background: white;
	margin: 0;
}

#nav ul {
	width: 100%;
}

#nav ul, #nav li {
	float: none;
	text-align: center;
	display: inline-block;
}

#nav a {
	padding: 20px 15px 0px 15px;
	color: var(--text-color);
	width: 120px;
}

#nav span {
	padding-bottom: 10px;
	width: 80px;
	display: inline-block;
	text-align: center;
	position: relative;
}

#nav span::before {
	box-sizing: border-box;
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	transform-origin: center;
	border-bottom: 3px solid var(--main-color);
	transform: scale3d(0,1,1);
}

#nav .active span::before {
	transform: scale3d(1,1,1);
	transition: transform 0.8s;
}

#nav .active > a, #nav .active > a:hover, #nav .active > a:focus {
	background-color: white;
	color: var(--text-color);
}

@media (max-width: 540px) {
	#nav a, #nav span {
		font-size: 15px;
		width: 80px;
		padding-left: 0;
		padding-right: 0;
	}
}

@media (max-width: 390px) {
	#nav a, #nav span {
		font-size: 12px;
		width: 50px;
		padding-left: 0;
		padding-right: 0;
	}
}

/* =============================================================== */
/* Main */

main {
	height: 100%;
}

main > section {
	margin-bottom: -20px;
	min-height: 100%;
	background: white;
	padding: 50px;
}

h1 {
	text-shadow: 
	#000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px,
	#000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px,
	#000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px,
	#000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px,
	#000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
	color: white;
}

h2 {
	color: var(--main-color);
	font-weight: 500;
	margin-bottom: 70px;
}

a {
	color: var(--main-color);
}

a:hover, a:active, a:focus {
	color: var(--highlight-color);
}

p {
	color: var(--text-color);
	margin-bottom: 4px;
	text-align: justify;
	text-justify: newspaper;
}

hr {
	border-color: var(--border-color);
	margin-left: 50px;
	margin-right: 50px;
}

h4 {
	color: var(--text-color);
}

label {
	font-weight: normal;
	color: var(--text-color);
}

input[type="text"], textarea {
	border: 1px solid var(--border-color);	
}

input[type="text"]:focus, input[type="text"]:active, textarea:focus, textarea:active {
	border: 1px solid var(--text-color);
	outline-style: none;
}

button:focus, button:active {
	outline-style: none;
}


/* =============================================================== */
/* Home */

#home {
	background-image: url("../resources/home.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	justify-content: center;
}

#home h1 {
	position: relative;
	padding: 30px;
}

#home span {
	display: block;
	text-align: center;
}

/* =============================================================== */
/* About */

#about {
	text-align: center;
}

#about img {
	display: block;
	border-radius: 50%;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}

#about div {
	text-align: left;
	max-width: 525px;
	margin-left: auto;
	margin-right: auto;
}

/* =============================================================== */
/* Projects */

#projects {
	text-align: center;
}

#projects > div {
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;
}

#projects > div > div {
	display: inline-block;
	margin-bottom: 70px;
	width: 350px;
	vertical-align: top;
}

#projects img, #projects p {
	max-width: 320px;
	margin-left: auto;
	margin-right: auto;
}

#projects .project-image {
	position: relative;
}

#projects img {
	border: 1px solid var(--border-color);
	z-index: 0;
}

#projects .project-image .overlay {
	position: absolute;
	transition: .5s ease;
	background: rgba(255, 255, 255, 0.0);
	width: 100%;
	height: 100%;
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: center;
}

#projects .project-image:hover .overlay {
	background: rgba(255, 255, 255, 0.8);
}

#projects .project-image .overlay  a {
	color: rgba(255, 255, 255, 0.0);
	font-size: 45px;
	transition: .5s ease;
	margin-left: 20px;
	margin-right: 20px;
}

#projects .project-image:hover .overlay  a {
	color: var(--text-color);
}

@media (max-width: 450px) {
	#projects > div > div, #projects img {
		width: 100%;
	}	
}

/* =============================================================== */
/* Contact */

#contact {
	text-align: center;
}

#contact > div {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	max-width: 500px;
}

#contact form > * {
	display: block;
}

#contact input, #contact textarea {
	width: 100%;
	margin-bottom: 25px;
	resize: none;
	padding: 3px 6px 3px 6px;
}

#contact #contact-submit {
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	background: none;
	color: var(--text-color);
	border: 1px solid var(--text-color);
	padding: 8px;
}

#contact #contact-submit:hover {
	border: 1px solid var(--main-color);
}

#contact #social {
	margin-top: 80px;
	text-align: center;
}

#contact #social div {
	margin-left: 15px;
	margin-right: 15px;
	display: inline-block;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	padding-top: 12px;
	color: white;
}

#contact #social span {
	font-size: 24px;
}

#contact #social div {
	background: var(--text-color);
}

#contact #social #email:hover {
	background: #d14836;
}

#contact #social #github:hover {
	background: #239A3B;
}

#contact #social #linkedin:hover {
	background: #0077B5;
}