
#addrestaurant table {
    padding-top: 10px;
    padding-bottom: 10px;
}

#addrestaurant input {
    width: 500px;
}

#addrestaurant input[type=text], input[type=password], input[type=date] {
    color: #333333;
}

.edit-col {
    padding-right: 30px;
}

.edit-col i:hover {
    color: #a72230;
    cursor: pointer;
}


#addrestaurant .table-title {
    color: #8e8e8e;
}

#addrestaurant .edit-icon {
    padding-left: 5px;
}