#myprofile {
    padding: 10px;
    margin-bottom: 60px;
}

.img-col {
    text-align: center;
}

#td-user {
    text-align: left;
}

.td-icon {
    text-align: center;
    padding-right: 10px;
    color: #8e8e8e;
}

.td-info {
    text-align: left;
    color: #8e8e8e;
}

#myprofile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#editprofile table {
    padding-top: 10px;
    padding-bottom: 10px;
}

#editprofile input {
    width: 500px;
}

#editprofile input[type=text], input[type=password], input[type=date] {
    color: #333333;
}

.edit-col {
    padding-right: 30px;
}

.edit-col i {
    color: #8e8e8e;
}

.edit-col i:hover {
    color: #a72230;
    cursor: pointer;
}


#editprofile .table-title {
    color: #8e8e8e;
}

#editprofile .edit-icon {
    padding-left: 5px;
}