@font-face {
    font-family: 'Kaushan';
    src: url("../res/fonts/KaushanScript.otf"); /*URL to font*/
}

@font-face {
    font-family: 'Caviar Dreams';
    src: url("../res/fonts/CaviarDreams.ttf"); /*URL to font*/
}

@font-face {
    font-family: 'Caviar Dreams Bold';
    src: url("../res/fonts/Caviar_Dreams_Bold.ttf"); /*URL to font*/
}

@font-face {
    font-family: 'Source Sans';
    src: url("../res/fonts/SourceSansPro-Regular.otf"); /*URL to font*/
}

.cancelar-container {
    background-color:#f1f1f1;
    padding: 16px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

input[type="date"]::-webkit-inner-spin-button{
    display: none;
}

input[type=text], input[type=password], textarea, input[type=time], input[type=number], input[type=email], input[type=date], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 3px;
}

select{
  color: #adadad;
}

input[type=text]:focus, input[type=password]:focus, input[type=time]:focus, input[type=number]:focus, input[type=email]:focus, input[type=date]:focus, select:focus{
  outline: none;
}

select option {
  color: #000;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #adadad;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #adadad;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #adadad;
}
:-moz-placeholder { /* Firefox 18- */
  color: #adadad;
}

.modal button {
    background-color: #cf2230;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.enter {
    width: 100%;
}

.btn-register-user {
     width: 49%;
     float: left;
}

.btn-register-owner {
    width: 49%;
    float: right;
}

#reg-btn{
    width: 100%;
    background-color:  #8e8e8e;
}

#btn-user {
    background-color: #cf2230;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 100%;
}

#btn-user:active {
    border: none;
    outline: none;
}

#btn-user:focus {
    outline:0;
}

.btn-cancel {
    width: auto;
    padding: 10px 18px;
    background-color: #cf2230;
}

.imgcontainer {
    text-align: left;
    margin: 24px 0 12px 0;
    position: relative;
    border-bottom: 1px solid #f3f3f3;
}

.imgcontainer img {
    padding: 16px;
    width: 50px;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
    padding-top: 40px;
    font-family: 'Source Sans';
    color: #333333;
}

.modal form {
    margin-bottom: 200px;
}

.modal-content {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    width: 40%;
    border-radius: 3px;
}

.btn-submitfile {
    background-color: #8e8e8e;
}

.close {
    position: absolute;
    color: #cf2230;
    font-size: 28px;
    right: 25px;
    top: 10px;
}

.close:hover,
.close:focus {
    color: #a72230;
    cursor: pointer;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}
