@font-face {
    font-family: 'Kaushan';
    src: url("../res/fonts/KaushanScript.otf"); /*URL to font*/
}

@font-face {
    font-family: 'Caviar Dreams';
    src: url("../res/fonts/CaviarDreams.ttf"); /*URL to font*/
}

@font-face {
    font-family: 'Caviar Dreams Bold';
    src: url("../res/fonts/Caviar_Dreams_Bold.ttf"); /*URL to font*/
}

@font-face {
    font-family: 'Source Sans';
    src: url("../res/fonts/SourceSansPro-Regular.otf"); /*URL to font*/
}

* {
    margin: 0 auto;
    padding: 0;
}

body {
    background-color: #30343f;
}

header {
    display: block;
}

header .backHeader {
    height: 56px;
}

header .pageHeader {
    background-color: #cf2230;
    width: 100%;
    position: fixed;
    z-index: 99;
}

header nav {
    width: 80%;
    display: table;
    padding-top: 3px;
    padding-bottom: 3px;
}

header nav #logo {
    display: table-cell;
    vertical-align: middle;
    height: auto;
}

header nav #logo img {
    width: 32px;
    height: auto;
    float: left;
}

header nav #texto {
    display: table-cell;
    vertical-align: middle;
    height: 40px;
}

header nav #logo p {
    padding-left: 20px;
    font-family: 'Kaushan';
    font-size: larger;
    font-weight: bold;
    color: white;
}

header nav #logo a{
    text-decoration: none;
}

header nav #menu {
    display: table-cell;
    vertical-align: middle;
}

header nav #menu ul {
    list-style: none;
}

header nav #menu ul li {
    padding: 0 10px 0 10px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    float: left;
    font-weight: bold;
    font-family: 'Source Sans';
    font-size: 16px;
    color: white;
    margin-right: 20px;
}

header nav #menu ul li:hover{
    background-color: #a72230;
    border-radius: 3px;
}

header nav #user {
    display: table-cell;
    vertical-align: middle;
    width: 50px;
    height: 100%;
}

header nav #user img {
    width: 50px;
    vertical-align: middle;
}

header nav #btn-image {
    font-family: 'Source Sans';
    color: #333333;
    padding: 12px 8px;
    display: block;
    border-bottom: 1px solid #e1e1e1;
}

header nav #btn-image img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

header #backg {
    display: table;
    width: 100%;
    height: 300px;
    background-image: url("../res/images/bg3.png");
    background-size: cover;
    background-repeat: no-repeat;
}

header #search {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-family: 'Source Sans';
}

header #search p {
    font-family: 'Source Sans';
    font-size: 30px;
    font-weight: bolder;
    color: white;
}

.search-dropdown  {
    height: 40px;
    width: 120px;
    border: none;
    border-radius: 2px;
    background-color: #cf2230;
    font-family: 'Source Sans';
    color: white;
    padding:0px 6px;
}

.search-dropdown option{
    background-color: #cf2230;
    font-family: 'Source Sans';
    color: white;
}

.search-dropdown:hover {
    outline : none;
}

header #searchbar{
    height: 40px;
    width: 40%;
    border: none;
    border-radius: 3px;
    background:url(../res/images/brush.png);
    background-size: 14px;
    background-position: 9px 12px;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 0 0 0 30px;
}

header #searchbar:focus {
    outline : none;
}

header #butt-search {
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 3px;
    background-color: #cf2230;
    font-family: 'Source Sans';
    color: white;
    cursor: pointer;
}

header #add-field-button {
    height: 30px;
}


header #butt-search:hover {
    background-color: #a72230;
}

header a {
    text-decoration: none;
    color: white;
}

.arrow_box {
    position: relative;
    background: #ffffff;
}

.arrow_box:after {
    bottom: 100%;
    right: 80%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 10px;
    margin-left: -10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.menu-dropdown {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 170px;
    box-shadow: 0px 16px 24px 0px rgba(0, 0, 0, 0.7);
}

.menu-dropdown a {
    font-family: 'Source Sans';
    color: #333333;
    padding: 12px 8px;
    text-decoration: none;
    display: block;
}

.menu-dropdown a:hover {
    color: #cf2230;
    background-color: #f6f6f6;
}


.menu-dropdown:hover {
    display:block;
}

.central {
    font-family: 'Source Sans';
    background-color: #f3f3f3;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #333333;
    width: 100%;
}

.central .container {
    width: 80%;
}

.central .container article {
    color: #333333;
}

.central .container article a {
    text-decoration: none;
    color: #333333;
}

.central .container .listrestaurant{
    margin-left: 0;
    width: 100%;
    display: table;
}

.central .container .listrestaurant:hover {
    box-shadow: 0 0 10px 1px #b9b9b9;
}

.central .container > .listrestaurant:not(:last-child) {
    margin-bottom: 10px;
}

.central .container .listrestaurant .restaurantphoto {
    display: table-cell;
    width: 300px;
    height: 150px;
    padding: 2px 30px 2px 2px;
}

.restaurantphoto img{
    height: 150px;
}

.central .container .listrestaurant .restaurantphoto img {
    width: inherit;
    float: left;
}

.central .container .listrestaurant .content {
    padding-top: 5px;
    display: table-cell;
    vertical-align: top;
    color: #8e8e8e;
}

.central .review {
    padding: 10px;
}

.central .number {
    color: white;
    padding: 2px 10px 2px 10px;
    background-color: #cf2230;
    border-radius: 3px;
}

.central .zero {
    color: white;
    padding: 2px 10px 2px 10px;
    background-color: #8e8e8e;
    border-radius: 3px;
}

.central .sectiondescription {
    padding-left: 10px;
    padding-bottom: 10px;
}

.central .sectiondescription p {
    color: #8e8e8e;
}

h2, h3, h4 {
    color: #333333;
}

.box {
    background-color: white;
    border: 1px solid #e1e1e1;
    color: #8e8e8e;
    border-radius: 3px;
}

.btn {
    border: none;
    padding: 10px 18px;
    background-color: #cf2230;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

.btn:focus {
    outline:0;
}

.btn:active {
    border: none;
    outline: none;
}

.btn:not([disabled]):hover{
    background-color: #a72230;
}

footer {
    height: 80px;
    width: 100%;
    display: block;
    background-color: #30343f;
}

footer .container {
    width: 80%;
    height: 100%;
    font-family: 'Source Sans';
    text-align: center;
    color: #d9d9d9;
    font-size: 12px;
    padding-top: 20px;
}

footer .container .info {
    float: left;
}

footer .container .info #github {
    width: 25px;
    height: auto;
    display: table-cell;
    vertical-align: middle;
}

footer .container .info #github img {
    width: 25px;
    opacity: 0.5;
}

footer .container .info #github img:hover {
    opacity: 1;
}

footer .container .info #github a{
    text-decoration: none;
    font-size: 12px;
    color: #d9d9d9;
}

footer .container .info #github a:hover{
    color: white;
}

footer .container .social {
    float: right;
}

footer .container #copyright {
    display: block;
    text-align: center;
}

footer .container #copyright p{
    text-align: center;
}

footer .container .social a{
    display: inline-block;
    padding-right: 20px;
}

footer .container .social img {
    width: 25px;
    opacity: 0.5;
}

footer .container .social img:hover {
    opacity: 1;
}

@media screen and (max-width: 767px) {

}

@media screen and (min-width: 768px) and (max-width: 1200px) {

}

@media screen and (min-width: 1200px) {

}
